@{
    Html.RenderPartial("_PartialIndex");
}
<style>
    body {
        background-color: #efefef;
        line-height: 24px;
        font: 12px/1.5 'Microsoft Yahei', 'Simsun';
        color: #666666;
    }

    .item-list .layui-card {
        box-shadow: 0 2px 2px 1px rgba(0,0,0,.05);
    }

    .item-title {
        font-size: 18px;
        font-weight: 600;
        padding: 10px 0;
    }



    .summary {
        color: #999;
        margin: 4px 0;
    }

    .item-content {
        font-size: 15px;
        text-indent: 2em;
        margin: 10px 0 10px 0;
    }

    .view-all {
        margin-left: 4px;
        color: #175199;
    }

    .layui-btn-primary {
        border: none;
        background-color: #eee;
        color: #0084FF;
    }

    .item-bottom .layui-btn-sm {
        padding: 0 20px;
    }

    .layui-btn-primary .layui-btn .layui-icon {
        vertical-align: middle;
    }

    .item-bottom a {
        font-size: 1.2em;
        padding: 0 15px;
    }

    .article-main .typetag {
        font-size: 16px;
        font-weight: bold;
        line-height: 36px;
        color: #333;
        border-bottom: #db6d4c 4px solid;
    }

    .question-content {
        font-size: 14px;
    }
</style>


<div class="layui-container container" id="warp">
    <div class="layui-row layui-col-space10">
        <a>@ViewBag.Aa</a>
        <div class="layui-col-md8" style="padding-right: 16px">
            <div class="article-main">
                <div v-for="(item,index) in list" style="padding: 0px 0px; background: #fff; margin-top: 10px">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="caption-subject uppercase" style="font-size: 18px; color: #444; font-weight: 600">
                                <h2>
                                    <a href="/Home/Answer" :title="item.name" target="_blank" style="font-size: 18px; color: #445; font-weight: 600;">{{item.name}}</a>
                                </h2>
                            </div>
                            <p class="autor">
                                <a href="/user/15985459135" target="_blank">
                                    <img src="https://img.tnblog.net/userdata/minheads/min_73a057e6dcca4c539347788275ae3076.jpeg" style="width:22px;height:22px;border-radius:30%;margin-top:-4px">
                                </a>
                                <span class=" f_r" style="padding-left: 4px"><b><a href="https://www.tnblog.net/user/15985459135" target="_blank">{{item.author}}</a></b></span>
                            </p>
                            <div style="margin-top: 13px; margin-bottom: 8px; font-size: 14px;text-indent:2em;">
                                <a href="#"> {{item.desc}}</a>
                            </div>
                            <p class="autor">
                                <button class="layui-btn layui-btn-sm layui-btn-primary"><i class="layui-icon layui-icon-praise" style="vertical-align:middle;"></i> <span style="font-size: 1.05em;">10</span></button>
                                <span class="viewnum f_r">回答（<a href="#">7</a>）</span>
                                <span class="dtime f_l">{{item.createtime}}</span>
                                <span class="lm f_l"><a href="https://www.tnblog.net/15985459135/article/UserCategory/1367" target="_blank">{{item.fromtag}}</a></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md4" id="crightdiv" style="position: static;">
            <div class="layui-form-item">
                <div class="layui-btn-group">

                    <button id="Search_Btn" data-method="offset" data-type="auto" class="layui-btn layui-btn-normal">我要提问</button>
                    <button class="layui-btn layui-btn-lg" id="searchbut" lay-filter="*"> 我要回答 </button>
                </div>
            </div>

            <div class="cloud">
                <h3 style="margin-top: 10px">问答标签</h3>
                <ul>
                    <li><a href="/Nav/1">.NET</a></li>
                    <li><a href="/Nav/2">.NET Core</a></li>
                    <li><a href="/Nav/3">.NET MVC</a></li>
                    <li><a href="/Nav/5">JAVA</a></li>
                    <li><a href="/Nav/7">消息队列</a></li>
                    <li><a href="/Nav/8">Python</a></li>
                    <li><a href="/Nav/12">数据库</a></li>
                    <li><a href="/Nav/13">缓存</a></li>
                    <li><a href="/Nav/18">云服务</a></li>
                    <li><a href="/Nav/19">架构</a></li>
                    <li><a href="/Nav/20">Linux</a></li>
                    <li><a href="/Nav/21">微信</a></li>
                    <li><a href="/Nav/22">随笔</a></li>
                    <li><a href="/Nav/Other">其他</a></li>
                </ul>
            </div>


            <div class="tuwen">
                <h3 style="margin-top: 12px">人气博主<span></span></h3>
                <ul>
                    <li>
                        <a href="https://www.tnblog.net/user/cz" target="_blank">
                            <img src="https://image.tnblog.net/two_7827c815e90740d88ce58411ed22df1e.jpeg" title="雨雨雨雨辰-tnblog"><b>雨雨雨雨辰</b>
                        </a>
                        <p><span class="tulanmu"><a href="#">超超帅的博主</a></span><span class="tutime">2018-11-16</span></p>
                    </li>
                    <li>
                        <a href="/user/aojiancc2" target="_blank">
                            <img src="https://image.tnblog.net/dbc68332d521436c983fbc3adc6d9c7f.jpeg" title="剑轩-tnblog"><b>剑轩</b>
                        </a>
                        <p><span class="tulanmu"><a href="#">平时爱打羽毛球~</a></span><span class="tutime">2018-10-01</span></p>
                    </li>
                    <li>
                        <a href="https://www.tnblog.net/user/xj" target="_blank">
                            <img src="https://image.tnblog.net/cffd4804b80e4d01b7b36954fca36391.jpeg" title="识酸-tnblog"><b>噢大菁</b>
                        </a>
                        <p><span class="tulanmu"><a href="#">清新阳光小姐姐</a></span><span class="tutime">2018-10-08</span></p>
                    </li>
                    <li>
                        <a href="https://www.tnblog.net/user/hb" target="_blank">
                            <img src="https://image.tnblog.net/90fef3eab53747678a299fd68108cd34.jpeg"><b>尘叶心繁</b>
                        </a>
                        <p><span class="tulanmu"><a href="#">O(*￣︶￣*)O</a></span><span class="tutime">2018-10-09</span></p>
                    </li>
                    <li>
                        <a href="https://www.tnblog.net/user/15215124007" target="_blank">
                            <img src="https://img.tnblog.net/userdata/heads/7effef064f384e20b71d81db7b3ed657.jpeg"><b>清欢渡</b>
                        </a>
                        <p><span class="tulanmu"><a href="#">(๑• . •๑)</a></span><span class="tutime">2018-12-08</span></p>
                    </li>
                    <li>
                        <a href="https://www.tnblog.net/user/Shangjin123" target="_blank">
                            <img src="https://img.tnblog.net/userdata/heads/7b59de5e4658491a83d095f0a077cff5.jpeg"><b>是伍尚金哇_v</b>
                        </a>
                        <p><span class="tulanmu"><a href="#">(｡･ω･｡)</a></span><span class="tutime">2018-11-23</span></p>
                    </li>
                    <li>
                        <a href="https://www.tnblog.net/user/15985459135" target="_blank">
                            <img src="https://img.tnblog.net/userdata/heads/73a057e6dcca4c539347788275ae3076.jpeg"><b>陪你听风</b>
                        </a>
                        <p><span class="tulanmu"><a href="#">O(∩_∩)O</a></span><span class="tutime">2018-11-26</span></p>
                    </li>
                    <li>
                        <a href="https://www.tnblog.net/user/18896101294" target="_blank">
                            <img src="https://image.tnblog.net/8530a36c16784b278e75fce05d56aec6.jpeg"><b>饰心</b>
                        </a>
                        <p><span class="tulanmu"><a href="#">Decorating heart</a></span><span class="tutime">2019-2-07</span></p>
                    </li>
                </ul>
            </div>

            <div class="tuwen">
                <h3 style="margin-top: 10px">技术专栏</h3>
                <ul>
                    <li>
                        <a href="https://www.tnblog.net/user/18188228452" target="_blank">
                            <img title="YOU-tnblog" src="https://image.tnblog.net/ef4008e9c12444908c92a783f609639e.jpeg"><b>YOU</b>
                        </a>
                        <p><span class="tulanmu"><a href="#">没有个性，也需要签名</a></span><span class="tutime">2019-05-20</span></p>
                    </li>
                    <li>
                        <a href="https://www.tnblog.net/user/17585965017" target="_blank">
                            <img src="https://img.tnblog.net/userdata/heads/3bdecae97be144efa68330b208981a12.jpeg"><b>叼着奶瓶逛酒吧</b>
                        </a>
                        <p><span class="tulanmu"><a href="#">大概你身上总有我喜..</a></span><span class="tutime">2019-03-09</span></p>
                    </li>
                    <li>
                        <a href="https://www.tnblog.net/user/hunter" target="_blank">
                            <img title="皓月姐姐-tnblog" src="https://image.tnblog.net/two_eb80b396e1604602a9e6cc24b03172a6.jpeg"><b>皓月姐姐</b>
                        </a>
                        <p><span class="tulanmu"><a href="#">Amazing everday</a></span><span class="tutime">2018-12-13</span></p>
                    </li>
                    <li>
                        <a href="https://www.tnblog.net/user/zhangx" target="_blank">
                            <img src="https://image.tnblog.net/default.jpeg"><b>张哥哥</b>
                        </a>
                        <p><span class="tulanmu"><a href="#">帅气的小哥哥</a></span><span class="tutime">2015-10-23</span></p>
                    </li>
                    <li>
                        <a href="https://www.tnblog.net/user/15723564381" target="_blank">
                            <img src="https://image.tnblog.net/143f2a6c8297416a83e8925df79d418b.jpeg"><b>浮沉与木</b>
                        </a>
                        <p><span class="tulanmu"><a href="#">浮沉与木</a></span><span class="tutime">2015-11-26</span></p>
                    </li>
                </ul>
            </div>


            <div class="links">
                <h3 style="margin-top: 9px"><span></span>技术分类</h3>
                <ul>
                    <li><a href="https://www.tnblog.net/Nav/1">.NET</a></li>
                    <li><a href="https://www.tnblog.net/Nav/2">.NET Core</a></li>
                    <li><a href="https://www.tnblog.net/Nav/3">.NET MVC</a></li>
                    <li><a href="https://www.tnblog.net/Nav/5">JAVA</a></li>
                    <li><a href="https://www.tnblog.net/Nav/7">消息队列</a></li>
                    <li><a href="https://www.tnblog.net/Nav/8">Python</a></li>
                    <li><a href="https://www.tnblog.net/Nav/9">ORM</a></li>
                    <li><a href="https://www.tnblog.net/Nav/10">后端</a></li>
                    <li><a href="https://www.tnblog.net/Nav/11">移动开发</a></li>
                    <li><a href="https://www.tnblog.net/Nav/12">数据库</a></li>
                    <li><a href="https://www.tnblog.net/Nav/13">缓存</a></li>
                    <li><a href="https://www.tnblog.net/Nav/14">前端</a></li>
                    <li><a href="https://www.tnblog.net/Nav/15">版本控制</a></li>
                    <li><a href="https://www.tnblog.net/Nav/16">人工智能</a></li>
                    <li><a href="https://www.tnblog.net/Nav/17">小程序</a></li>
                    <li><a href="https://www.tnblog.net/Nav/18">云服务</a></li>
                    <li><a href="https://www.tnblog.net/Nav/19">架构</a></li>
                    <li><a href="https://www.tnblog.net/Nav/20">Linux</a></li>
                    <li><a href="https://www.tnblog.net/Nav/21">微信</a></li>
                    <li><a href="https://www.tnblog.net/Nav/22">随笔</a></li>
                </ul>
            </div>


        </div>
    </div>


    <div id="question" style="display:none;padding:15px;">
        <form>
            <div class="question-content">
                <div class="layui-form-item">
                    <input type="text" name="title" v-model="question.q_title"  lay-verify="required" placeholder="请输入问题标题" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <textarea placeholder="请输入问题描述" class="layui-textarea" v-model="question.q_descc"></textarea>
                </div>
                <div class="layui-form-item">
                    <input type="text" name="title" required lay-verify="required" placeholder="问题分类(逗号隔开)" autocomplete="off" class="layui-input" v-model="question.q_tags">
                </div>
                <div class="layui-input-block" style="float:right">
                    <button type="button" class="layui-btn layui-btn-normal">发布问题</button>
                </div>
            </div>
        </form>
    </div>

</div>



@section Scripts{
    <script type="text/javascript">
        new Vue({
            el: "#warp",
            data: {
                q_title:"name",
                question: {q_tags:"1,2,3",q_descc:"1231233",q_title:"name"},
                list: [
                    { "id": 1, "name": "oracle数据库表dual的讲解", "desc": "我希望有个如你一般的人我还是很喜欢你，像日光洒满天地，温柔惬意。先提个问 ：oracle数据库里dual表是什么表？...", author: "陪你听风", createtime: "2020-06-05", fromtag: "其他" },
                    { "id": 2, "name": "屏幕截图1", "desc": "icPick 是一款优秀的免费屏幕截图工具", author: "雨辰", createtime: "2019-9-16 17:24:50", fromtag: "其他" },
                    { "id": 3, "name": "屏幕截图2", "desc": "icPick 是一款优秀的免费屏幕截图工具", author: "雨辰", createtime: "2019-9-16 17:24:50", fromtag: "其他" }
                ]
            },
            methods: {
                download: function () {
                    $.get('/Home/login', {}, function (data) {
                        console.log(data);

                    });
                }
            }
        });
        layui.use(['element', 'layer'], function () {
            var element = layui.element,
                layer = layui.layer,
                $ = layui.$; //导航的hover效果、二级菜单等功能，需要依赖element模块
            $('#Search_Btn').click(function () {
                layer.open({
                    type: 1,
                    title: false,
                    resize: false,
                    area: ['450', '300'],
                    offset: '200px',
                    content: $('#question')
                });
            });
        });


        $(function () {
            $("#bdcsMain").keyup(function () {
                if (event.keyCode == 13) {
                    //触发搜索按钮,就不用就封装方法了
                    $("#searchbut").click();
                }
            });

            /*$("#searchbut").click(function () {

                var query = $("#bdcsMain").val();
                if (query == null || query == "") {
                    alert("搜索内容为空");
                    return;
                }
                location.href = "/search/search?query=" + query;
            });*/

        });
    </script>

}